<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mapper.MaintenanceMapper">

    <!--查询自寝室楼-->
    <select id="selectBydormitory_building" resultType="maintenanceList">
        select *
        from equipment_maintenance
        where dormitory_building = #{dormitory_building}
    </select>

</mapper>