<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mapper.SanitationMapper">

    <!--查询全部-->
    <select id="selectAll" resultType="SanitationList">
        select *
        from sanitation_scores
    </select>

    <!--查询自记录编号-->
    <select id="selectById" resultType="SanitationList">
        select *
        from sanitation_scores
        where sanitation_scores_id = #{id};
    </select>

    <!--查询自寝室编号-->
    <select id="selectBydoId" resultType="SanitationList">
        select *
        from sanitation_scores
        where dormitory_id = #{id};
    </select>

    <!--新建记录-->
    <insert id="newviolation">
        insert into sanitation_scores(sanitation_scores_id,employee_id,dormitory_id,publish_time,score)
        values(#{id},#{employeeid},#{dormitoryid},#{publishtime},#{score});
    </insert>

</mapper>